
// Colors
$primary: #5C62C5;
$secondary: #5C62C5;
$success: #5C62C5;
$warning: #5C62C5;
$danger: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$violet: #851486;
$cyan: #2DD2D0;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


