// Colors
// Basic colors
$primary: #21094e;
$secondary: #511281;
$white: #fff;
$link: #a5e1ad;
$violet: #851486;
$dark-grey: #363636;
$light-grey: #d8d8d8;

//Backgrounds
$background-app: whitesmoke;


// Alert colors
$success: #4ca1a3;
$warning: #5C62C5;
$danger: #e0506f;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


