
.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 10);
    }
    
}


.btn-primary {
    background-color: $primary;
    border-radius: 2px;
    padding: 12px 16px;
    font-size: 16px;

    transition: background-color .3s ease;
    
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover { 
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block {
    width: 100%;
}

.google-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $bg-button-google;
    border-radius: 2px;
    box-shadow:0px 2px 4px 0px #2e2e2e40;

    transition: box-shadow .3s ease;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        width: 100%;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 1px $dark-grey;
    }
    &:active {
        background: $button-active-google;
    }
}

